.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #393E46;
}

h1 {
    font-family: 'Lobster', cursive;
    text-shadow: 6px 0 #232931;
    color: #4ECCA3;
}

.header-text {
    margin: 30px;
    font-size: 7rem;
}

.winner {
    margin-top: 60px;
    font-size: 4rem;
}

.para-text {
    font-size: 1.5rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

.player {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}